.dw-action-bar {
    display: flex;
    height: 50px;
    background-color: $navy-blue;
    color: white;
    &.dw-bulk-action {
        background-color: $gray-blue;
    }
    .dw-action-bar-content {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        > div {
            display: flex;
        }
        h1 {
            display: flex;
        }

        .v-label,
        .material-icons {
            @apply text-white !important;
        }

        .v-input__slot:before {
            @apply border-white !important;
        }

        .v-btn {
            @apply bg-transparent border-1 border-solid border-white text-white !important;
        }

        .dw-button-indicator {
            @apply bg-dude-red border-1 border-solid border-white rounded-round absolute;
            width: 18px;
            height: 18px;
            top: 2px;
            right: 2px;
        }
    }
}