$toggle-height: 17px;
$toggle-width: 28px;
$switch-width: $toggle-height;

.dw-toggle {
    @apply inline-block relative bg-white cursor-pointer border border-light-blue;
    width: $toggle-width;
    height: $toggle-height;
    border-radius: $toggle-height / 2;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    transition: all 250ms ease-in;

    &.active {
        @apply bg-action-blue border-action-blue;

        &::after {
            margin-left: $toggle-width - $switch-width;
        }
    }

    &::after {
        content: '';
        @apply absolute z-section border border-action-blue bg-white;
        top: -1px;
        left: -1px;
        width: $switch-width;
        height: $toggle-height;
        border-radius: $toggle-height / 2;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        transition: all 250ms ease-in;
    }
}
