.dw-toggle {
    @apply inline-block relative bg-white cursor-pointer border-light-blue;
    width: 28px;
    height: 17px;
    border-radius: 8.5px;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;

    &.active {
        @apply bg-action-blue border-action-blue;

        &::after {
            margin-left: 11px;
        }
    }

    &::after {
        content: '';
        @apply absolute z-10 border-action-blue bg-white;
        top: -1px;
        left: -1px;
        width: 17px;
        height: 17px;
        border-radius: 8.5px;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
        transition: all 250ms ease-in;
    }
}