/* dude brand */
$dude-blue: #003d4c !default;
$dude-blue-alt: #013D4B !default;
$dude-red: #ff5c39 !default;
$dude-orange-light: #ffae9c !default;
$activation-blue: #87b2d7 !default;
$action-blue: #005FE6 !default;
$light-blue: #c6dae7 !default;
$gray-blue: #5b7f95 !default;
$navy-blue: #00263a !default;

/* other vars */
$filter-icon-color: #349cde !default;
$dark-gray: #727272 !default;
$border-light: #ccc !default;
$light-gray: #ddd !default;
$alt-grid-row: #f3f3f3 !default;
$gray: #aaa !default;
$warn: #f89e1b !default;
$error: #f65b39 !default;
$success: #39c06f !default;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !default;
$box-shadow-light: 0 0 5px rgba(0, 0, 0, 0.3) !default;
